
			{# navbar desktop #}
			<nav class="navbar navbar-expend-md bg-green sticky-top d-flex justify-content-between align-items-center px-3 d-print-none py-3">
				{# logo #}
				<div class="">
					<img class="img-sm img-min mx-4" src="{{ asset('images/croissance (1).png') }}" alt="">
				</div>
				{# menu desktop #}
				<div class="desktop nav w-70">
					<ul class="nav flex-center px-4 fs-5">
						<li class="nav-item">
							<a class="nav-link text-clear" href="{{path('app_accueil')}}">Accueil</a>
						</li>
						<li class="nav-item dropdown">
							<a class="nav-link text-clear dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="">Formations</a>
							<ul class="dropdown-menu bg-green">
								<li class="dropdown-item">
									<a href="{{ path('app_formation_list') }}" class="text-clear">Toutes les formations</a>
								</li>
								{% for cat in cats.getFormations %}
								<li class="dropdown-item">
									<a href="{{ path('app_formation_show', { id: cat.id })}}" class="text-clear">{{ cat.titre }}</a>
								</li>
								{% else %}
									<p>Informations indisponibles</p>
								{% endfor %}
							</ul>
						</li>
						<li class="nav-item">
							<a class="nav-link text-clear" href="{{ path('app_about')}}">À propos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link text-clear" href="{{ path('app_contact')}}">Contact</a>
						</li>
						<li class="nav-item">
						{% if is_granted("ROLE_USER")%}
							<a class="nav-link text-clear" href="{{ path('app_pre_inscription_new') }}">Formulaire</a>
						{% else  %}
							<a class="nav-link text-clear" href="{{ path('app_register') }}">Formulaire</a>
						{% endif %}
						</li>
						{# lien lié à l'utilisateur du site #}
						{# {% if is_granted("ROLE_USER") %}
						<li class="nav-item">
							<a class="nav-link text-clear" href="{{path('app_espace_personnel')}}">Espace personnel</a>
						</li>
						{% endif %} #}
						{# Lien destiné aux Managers #}
						{# {% if is_granted("ROLE_GESTIONNAIRE") %}
						<li class="nav-item dropdown">
							<a class="nav-link text-clear dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="">Espace gestion</a>
							<ul class="dropdown-menu bg-green">
								<li>
									<a class="dropdown-item text-clear" href="{{ path('app_pre_inscription_index') }}">Préincsriptions</a>
								</li>
								<li>
									<a class="dropdown-item text-clear" href="{{ path('app_inscription_apprenant_new')}}">Nouvelle inscription</a>
								</li>
								<li>
									<a class="dropdown-item text-clear" href="{{ path('app_inscription_apprenant_index') }}">Inscrits</a>
								</li>
								<li>
									<a class="dropdown-item text-clear" href="{{ path('app_formation_index')}}">Administrer les formations</a>
								</li>
								<li>
									<a class="dropdown-item text-clear" href="{{ path('app_management_tools')}}">Outils d'administration</a>
								</li>
							</ul>
						</li>
						{% endif %} #}
						{# lien destiné aux administrateurs #}
						{# {% if is_granted("ROLE_ADMIN")%}
						<li class="nav-item dropdown">
							<a class="nav-link text-clear dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="">Administrateurs</a>
							<ul class="dropdown-menu bg-green">
								<li class="dropdown-item">
									<a class="snav-link text-clear" href="{{path('app_user_index')}}">Utilisateurs</a>
								</li>
								<li class="dropdown-item">
									<a class="nav-link text-clear" href="{{path('app_role_index')}}">Rôles</a>
								</li>
							</ul>
						</li>
						{% endif %} 
					</ul>#}
					{# menu desktop modifiable #}
					{{render(path('app_menu_affichage'))}}
				</div> 
				{# menu mobile #}
				{# bouton burger #}
				<button class="mobile navbar-toggler btn-sm" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
					<svg xmlns="http://www.w3.org/2000/svg" width="150" height="150" fill="currentColor" class="bi bi-list text-clear" viewbox="0 0 16 16">
						<path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
					</svg>
				</button>
				{# menu droite #}
				<div class="mobile offcanvas offcanvas-end bg-green text-clear" tabindex="-2" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
					<div class="offcanvas-body">
						<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
							<li class="nav-item">
								<a class="font3 nav-link text-clear" href="{{path('app_accueil')}}">Accueil</a>
							</li>
							<li class="nav-item dropdown">
								<a class="font3 nav-link text-clear dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" href="">Formations</a>
								<ul class="dropdown-menu bg-green">
									<li class="dropdown-item">
										<a href="{{ path('app_formation_list') }}" class="text-clear font2">Toutes les formations</a>
									</li>
									{% for cat in cats.getFormations %}
									<li class="dropdown-item">
										<a href="{{ path('app_formation_show', { id: cat.id })}}" class="text-clear font2">{{ cat.titre }}</a>
									</li>
									{% else %}
									<p class="font3">Informations indisponibles</p>
									{% endfor %}
								</ul>
							</li>
							<li class="nav-item">
								<a class="font3 nav-link text-clear" href="{{ path('app_about')}}">À propos</a>
							</li>
							<li class="nav-item">
								<a class="font3 nav-link text-clear" href="{{ path('app_contact')}}">Contact</a>
							</li>
							<li class="nav-item">
								<a class="font3 nav-link text-clear" href="{{ path('app_register') }}">Formulaire</a>
							</li>
							<li class="nav-item">
								<a class="font3 nav-link text-clear" href="{{path('app_espace_personnel')}}">Espace personnel</a>
							</li>
						</ul>
					</div>
				</div>
				<div>
					{# lien login #}
					{# version desktop #}
					<div class="text-center d-flex">
						<img class="img-min desktop" src="{{ asset('images/utilisateur.png') }}" alt="">
						<div class="navbar-nav desktop">
							{% if is_granted("IS_AUTHENTICATED_FULLY")  %}
							<div class="d-flex align-items-center">
								<p class="nav-link text-clear m-0 px-3 h5">Bonjour {{app.user.prenom}} {{app.user.nom}}</p>
								<a class="nav-link text-clear" href="{{ path('app_logout') }}">Se déconnecter</a>
							</div>
							{% else %}
							<div class='d-flex justify-content-center px-2'>
									<a class="nav-link text-decoration-none text-clear" href="{{ path('app_register') }}">S'inscrire |</a>
									<a class="nav-link text-decoration-none ms-1 text-clear" href="{{ path('app_login') }}">Se connecter</a>
							</div>
							{% endif %}
						</div>
					</div>
					{# version mobile #}
					{# <div>
						<h4 class="text-clear">Bonjour {{app.user.prenom}} {{app.user.nom}}</h4>
					</div> #}
					<div class="mobile mx-4 text-center">
						<img class="img-min" src="{{ asset('images/utilisateur.png') }}" alt="">
					
						<ul class="navbar-nav">
							{% if is_granted("IS_AUTHENTICATED_FULLY")  %}
							<li class="nav-item">
								<a class="nav-link text-decoration-none text-clear fs-2" href="{{ path('app_logout') }}">Se déconnecter</a>
							</li>
							{% else %}
							<div class='d-flex justify-content-center'>
								<li class="nav-item">
									<a class="nav-link text-decoration-none text-clear fs-2" href="{{ path('app_register') }}">S'inscrire |</a>
								</li>
								<li class="nav-item">
									<a class="nav-link text-decoration-none ms-1 text-clear fs-2" href="{{ path('app_login') }}">Se connecter</a>
								</li>
							</div>
							{% endif %}
						</ul>
					</div>
				</div>
				{# ne fonctionne pas #}
				{# <form class="d-flex" role="search">
        			<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        			<button class="btn btn-outline-success" type="submit">Search</button>
      			</form> #}
			</nav>