<div class="container form bg-clear shadow p-4 m-5">
	<div class="header"></div>
	<div>
		{# Formulaire en quatre parties // cf public/js/scripts.js #}
		{{ form_start(form) }}

		{# Premiere partie #}
		<div class="form page" id="page1">
			<div class="d-flex align-items-center justify-content-start m-5">
				<h2>Informations personnelles</h2>
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.nom) }}
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.prenom) }}
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.dateNaissance) }}
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.sexe) }}
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.n_ss) }}
			</div>
            <div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.telephone) }}
			</div>
            <div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.email) }}
			</div>
            <div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.adresse) }}
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.codePostal) }}
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.ville) }}
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.region) }}
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.pays) }}
			</div>
			<div class="d-flex align-items-center justify-content-end m-5">
				<button class="btn bg-green text-clear next" type="button">
					Suivant
				</button>
			</div>
		</div>

		{# Deuxième partie #}
		<div class="form page" id="page2">
        <div class="d-flex align-items-center justify-content-start m-5">
				<h2>Inscription au cursus</h2>
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.motivations) }}
			</div>
            <div class="d-flex align-items-center justify-content-start m-3 mx-5">
				{{ form_widget(form.financement) }}
			</div>
			<div class="d-flex align-items-center justify-content-between m-5">
				<button class="btn bg-blue text-clear prev" type="button">
					Précédent
				</button>
				<button class="btn bg-green text-clear next" type="button">
					Suivant
				</button>
			</div>
		</div>

		{# troisième partie #}
		<div class="form page" id="page3">
			<div class="d-flex align-items-center justify-content-start m-5">
				<h2>Inscription au cursus</h2>
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5 row">
				<div class="col-4 text-end">
					{{ form_label(form.carteIdentite) }}
				</div>
				<div class="col-8">
					{{ form_widget(form.carteIdentite) }}
				</div>	
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5 row">
				<div class="col-4 text-end">
					{{ form_label(form.justifFinancement) }}
				</div>
				<div class="col-8">
					{{ form_widget(form.justifFinancement) }}
				</div>	
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5 row">
				<div class="col-4 text-end">
					{{ form_label(form.carteVitale) }}
				</div>
				<div class="col-8">
					{{ form_widget(form.carteVitale) }}
				</div>	
			</div>
			<div class="d-flex align-items-center justify-content-start m-3 mx-5 row">
				<div class="col-4 text-end">
					{{ form_label(form.autreDoc) }}
				</div>
				<div class="col-8">
					{{ form_widget(form.autreDoc) }}
				</div>	
			</div>
			<div class="d-flex align-items-center justify-content-between m-5">
				<button class="btn bg-blue text-clear prev" type="button">
					Précédent
				</button>
				{{ form_widget(form.save)}}
			</div>
		</div>

		{{ form_end(form) }}
	</div>
</div>
