{% extends 'base.html.twig' %}

{% block title %}Liste des pré-inscriptions{% endblock %}
{% block body %}
<div>
    <h1>Liste des pré-inscriptions</h1>
    <div class='d-flex my-4 justify-content-between'>
        <a href="javascript:ajouterPreInscription()" class="btn btn-md btn-success">Ajouter</a>
        <a href="javascript:modifierPreInscription()" class="btn btn-md btn-primary">Modifier</a>
        <a href="javascript:supprimerPreInscription()" class="btn btn-md btn-danger" >Supprimer</a>
        <a href="javascript:afficherPreInscription()" class="btn btn-md btn-primary">Afficher</a>
    </div>
    <table id="table" class="w-100"></table> 
</div>
<script>
var inscrip=$('#table');
var url_datagrid_data="{{path('app_pre_inscription_datagrid_data')}}";
var url_preInscription_edit="{{path('app_pre_inscription_edit',{'id':'pre_inscription_id'})}}";
var url_preInscription_show="{{path('app_pre_inscription_show',{'id':'pre_inscription_id'})}}";
var url_preInscription_new="{{path('app_pre_inscription_new')}}";
var url_preInscription_delete="{{path('app_pre_inscription_delete',{'id':'pre_inscription_id'})}}";

$(function(){
    
     loadListPreInscription();
});


    function loadListPreInscription()
    {
        $("#table").datagrid({
            url:url_datagrid_data,
            idField:'id',
            singleSelect:true,
            pageSize:30,
            pageList:[20,30,50,100,300],
            pagination:true,
            fit:true,
            fitColumns:true,
            columns:[[
                    {'field':'id','title':'ID','width':'10%','halign':'center','align':'center'},
                    {'field':'nom','title':'Nom','width':'20%','halign':'center','align':'center'},
                    {'field':'prenom','title':'Prénom','width':'20%','halign':'center','align':'left'},
                    {'field':'dateNaissance','title':'date de naissance','width':'10%','halign':'center','align':'right'},
                    {'field':'sexe','title':'Sexe','width':'5%','halign':'center','align':'right'},
                    {'field':'adresse','title':'Adresse','width':'10%','halign':'center','align':'right'},
                    {'field':'codePostal','title':'Code postal','width':'10%','halign':'center','align':'right'},
                    {'field':'ville','title':'Ville','width':'10%','halign':'center','align':'right'},
                    {'field':'region','title':'Région','width':'10%','halign':'center','align':'right'},
                    {'field':'pays','title':'Pays','width':'10%','halign':'center','align':'right'},
                    {'field':'email','title':'Email','width':'10%','halign':'center','align':'right'},
                    {'field':'carteIdentite','title':'Carte Identité','width':'10%','halign':'center','align':'right'},
                    {'field':'justifFinancement','title':'justificatif financement','width':'10%','halign':'center','align':'right'},
                    {'field':'autreDoc','title':'autre document','width':'10%','halign':'center','align':'right'},
                    {'field':'n_ss','title':'numéro de SS','width':'10%','halign':'center','align':'right'},
                    {'field':'telephone','title':'Téléphone','width':'10%','halign':'center','align':'right'},
                    {'field':'user','title':'User','width':'10%','halign':'center','align':'right'},    
            ]],
            onDblClickRow:function(val,row)
            {
                var id=row.id;
                afficherPreInscription();
            }
           
        });
        $("#table").datagrid('enableFilter');
    }
  
    function afficherPreInscription(){
    var row=inscrip.datagrid('getSelected');
    if(row){
        var id=row['id'];
        var url=url_preInscription_show.replace('pre_inscription_id',id);
        popupCenter(url,'show'+id,screen.width*0.70, screen.height*0.60);
    }else{
        alert('Veuillez sélectionner une ligne');
    }
    
}
function ajouterPreInscription(){
    popupCenter(url_preInscription_new,'new',screen.width*0.70,screen.height*0.60);
}

function modifierPreInscription(){
    var row= inscrip.datagrid('getselected');
    if(row){
        var id= row['id'];
        var url=url_preInscription_edit.replace('pre_inscription_id',id);
        popupCenter(url,'edit'+id,screen.width*0.70,screen.height*0.60);
    }else{
        alert('Veuillez sélectionner une ligne ');
    }
}
function supprimerPreInscription()
{
    var row=inscrip.datagrid('getSelected');
    if(row)
    {
        var id=row['id'];
        if(confirm("Voulez-vous vraiment supprimer la pré-inscription de  " + row.prenom  +  row.nom + "  ?"))
        {
            var url=url_preInscription_delete.replace('pre_inscription_id',id);
            document.location.href=url;
        }else{
            alert('Veuillez sélectionner une ligne ');
        }
    }

}

</script>
{% endblock %}