{% extends 'base.html.twig' %}

{% block title %}Votre Espace personnel{% endblock %}

{% block body %}
<class="container-fluid ">
        <div class="bg-personnal bg-blueclear p-5 mt-5 ">
            <h4><span class="text-capitalize">espace</span> personnel</h4>
        </div>
            <div class="d-flex justify-content-between">
                <div class="">
                        <div class="border  border-color shadow p-3 bg-body rounded my-5 ms-5 ps-5 w-100">
                            <div class="d-flex my-5">
                            
                                <div class="mx-5">
                                    <h5>Mon dossier</h5>
                                </div>
                                <div class="mx-5">
                                    <h5>Etat :</h5>
                                </div>
                            </div>
                           
                            <div class="d-flex my-5">
                                <a href="{{path('app_espace_personnel_showFolder')}}" class="mx-5 text-decoration-none btn btn-md btn-green ">Voir mon dossier</a>
                                <a href="{{path('app_espace_personnel_editFolder')}}" class="mx-5 text-decoration-none btn btn-md btn-blue ">Modifier</a>
                                <a href="{{path('app_espace_personnel_deleteFolder')}}" class="mx-5 text-decoration-none btn btn-md btn-red" id="deleteFolder">Supprimer</a> 
                            </div>
                           
                            
                        </div>
                        <div class=" d-flex flex-row justify-content-around mb-5">
                            <a class="text-decoration-none btn btn-md btn-green" href="{{path('app_formation_index')}}">Découvrir les formations</a>
                            <a class="text-decoration-none btn btn-md btn-green" href="{{path('app_pre_inscription_new')}}">Se pré-inscrire</a>
                        </div>
                </div>
                <div class=" border-2 border-start border-success my-5"></div>
                    <div class="me-5">
                    
                        <div class="my-5">
                            <h4>Informations personnelles</h4>
                        </div>
                        {# {% for user in users %} #}
                        <div class="ms-5">
                            <p>Nom : {{app.user.nom}}</p>
                        </div>
                        <div class="ms-5">
                            <p>Prénom : {{app.user.prenom}}</p>
                        </div>
                        <div class="ms-5">
                            <p>Email : {{app.user.email}}</p>
                        </div>
                        <div class="ms-5">
                            <p>Mot de passe : ******</p>
                        </div>
                        <div>
                            <a class="btn btn-md btn-green text-light mt-5 ms-5" href="{{ path('app_user_editFolder', {'id': app.user.id}) }}">Modifier</a>
                        </div>
                    {# {% endfor %} #}
                        <div class="">
                            <a href="{{ path('app_contact')}}" class="btn btn-md btn-green text-light my-5 ms-5">Nous contacter</a>
                        </div>
                </div>
            </div>
</div>

{% endblock %}
{% block javascript %}
 <script> 

var url_delete_folder= "{{path('app_espace_personnel_deleteFolder')}} ";

$(function(){
    $("#delete").value()
deleteFolder();
})

function deleteFolder(id)
{
$.ajax({
    url:url_delete_folder,
    type:'POST',
    data :{
        id: id,
        action:'delete',
    }
    success:function(response)
    {
        if(response==1)
        {
            alert("Votre dossier a été supprimé !");
            document.getElementById(id).style.display="none";
        }else if(response==0){
            alert("votre dossier ne peut pas être supprimé")
        }
    }
})
}
deleteFolder();
</script>
{% endblock %}
