{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur votre Espace personnel{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div>
            <h3></h3>
        </div>
        <div class="bg-personnal bg-blueclear p-5 mt-5 ">
            <h4>Bienvenue sur votre espace, {{app.user.prenom}} {{app.user.nom}}</h4>
        </div>
        <div class="content d-flex justify-content-between my-5 responsive-flex">
            <div class="ms-4">        
                <div class="my-5">
                    <div>
                        <p class=> Une idée ? Un projet ? Vous pouvez nous contacter si vous souhaitez avoir plus d'informations sur nos cursus</p>
                    </div>
                    <div>
                        <a class="btn btn-md btn-green text-light" href="{{ path('app_contact')}}">Nous contacter</a>
                    </div>
                </div>
                <div class="my-5">
                    <div>
                        <p>Toutes nos formations accessibles en un clic !</p>
                    </div>
                    <div>
                        <a class="btn btn-md btn-green text-light" href="{{ path('app_formation_list') }}">Découvrir nos formations</a>
                    </div>
                </div>
                <div class="my-5">
                    <div>
                        <p>Une formation vous intéresse? Vous pouvez, dès maintenant, déposer une demande d'inscription !</p>
                    </div>
                    <div>
                        <a class=" btn btn-md btn-blue text-light" href="{{path('app_pre_inscription_new')}}">Se pré-inscrire</a>
                    </div>
                </div>
            </div>
            <div class=" border-2 border-start border-success aside"></div>
            <div class="me-5">
           
                <div class="my-5">
                    <h4>Informations personnelles</h4>
                </div>
               
                <div class="ms-5">
                    <p>Nom : {{app.user.nom}}</p>
                </div>
                <div class="ms-5">
                    <p>Prénom : {{app.user.prenom}}</p>
                </div>
                <div class="ms-5">
                    <p>Email: {{app.user.email}}</p>
                </div>
                <div class="ms-5">
                    <p>Mot de passe : ******</p>
                </div>
                <div>
                    <a class="btn btn-md btn-green text-light mt-5 ms-5" href="{{path('app_espace_personnel_show')}}">page suivante</a>
                </div>  
           
             <div>
               
                </div>    
            </div>
        </div>
    </div>
{% endblock %}
