<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mathilde Pierre dit Blanchet</title>
    <link rel="stylesheet" href="{{asset('css/mathilde.css')}}">
</head>
<div>
    <header class="bg-blue p-20">
        <div class="flex-between">
            <div>
                <h1 class="text-white">Mathilde</h1>
                <h1 class="text-white small-caps">Pierre dit Blanchet</h1>
            </div>
            <div class="flex-column-end">
                <div class="bg-pink border-round">
                    <img class="logo" src="{{ asset('assets/mathilde/calendar.png')}}" alt="">
                </div>
                <p class="text-white pr-5">Disponible du 02/05/2023 <br> au 21/07/2023</p>
            </div>
        </div>
        <div class="pb-5">
            <img src="{{ asset('assets/mathilde/supprimer.png')}}" alt="">
            <div class="flex-between">
                <h2 class="text-pink text-upper">Conceptrice développeuse d'applications</h2>
            </div>
        </div>
        <div class="flex-between">
            <div>
                <p class="text-white">Actuellement en formation, je suis à la recherche d'un stage de fin d'étude pour valider mon diplôme</p>
            </div>
            <div class="flex-between pl-2">
                <div class="bg-pink border-round">
                    <img class="logo bg-pink" src="{{ asset('assets/mathilde/location.png')}}" alt="">
                </div>
                <p class="text-white pl-2">Angoulême, Poitiers, Nantes, La Rochelle</p>
            </div>
        </div>
        <div class="text-right mt-100-mb-negative">
            <button class="button">Télécharger le CV</button>
        </div>
    </header>
    <main class="p-20">
        <section class="pb-5 bg-img-1">
            <div class="flex-left pb-1 mt-3">
                <img src="{{ asset('assets/mathilde/round2.png')}}" class="mini" alt="">
                <h2 class="ml-30-negative">Compétences</h2>
            </div>
            <div class="p-5">
                <div class="flex-between flex-wrap pb-5 pr-10">
                    <div class="flex-between pb-1 pl-1">
                        <img src="{{ asset('assets/mathilde/html5.png') }}" class="mini pb-1" alt="HTML5">
                        <img src="{{ asset('assets/mathilde/rank5.png') }}" class="midi pl-2" alt="">
                    </div>
                    <div class="flex-between pb-1 pl-1">
                        <img src="{{ asset('assets/mathilde/css-3.png') }}" class="mini pb-1" alt="CSS3">
                        <img src="{{ asset('assets/mathilde/rank5.png') }}" class="midi pl-2" alt="">
                    </div>
                    <div class="flex-between pb-1 pl-1">
                        <img src="{{ asset('assets/mathilde/php.png') }}" class="mini pb-1" alt="PHP8">
                        <img src="{{ asset('assets/mathilde/rank4.png') }}" class="midi pl-2" alt="">
                    </div>
                    <div class="flex-between pb-1">
                        <img src="{{ asset('assets/mathilde/mysql.png') }}" class="mini pb-1" alt="MySQL">
                        <img src="{{ asset('assets/mathilde/rank4.png') }}" class="midi pl-2" alt="">
                    </div>
                    <div class="flex-between pb-1 pl-1">
                        <img src="{{ asset('assets/mathilde/postgre.png') }}" class="mini pb-1" alt="PostgreSQL">
                        <img src="{{ asset('assets/mathilde/rank4.png') }}" class="midi pl-2" alt="">
                    </div>
                    <div class="flex-between pb-1 pl-1">
                        <img src="{{ asset('assets/mathilde/java-script.png') }}" class="mini pb-1" alt="Javascript">
                        <img src="{{ asset('assets/mathilde/rank1.png') }}" class="midi pl-2" alt="">
                    </div>
                    <div class="flex-between pb-1 pl-1 d-none">
                        <img src="{{ asset('assets/mathilde/c-sharp.png') }}" class="mini pb-1" alt="C#">
                        <img src="{{ asset('assets/mathilde/rank0.png') }}" class="midi pl-2" alt="">
                    </div>
                </div>
                <div class="flex-between">
                    <img src="{{ asset('assets/mathilde/symfony6.png') }}" class="mini pb-1" alt="Symfony6">
                    <img src="{{ asset('assets/mathilde/vscode-logo.png') }}" class="mini pb-1" alt="Visual Studio Code">
                    <img src="{{ asset('assets/mathilde/wamp-logo.png') }}" class="mini pb-1" alt="WampServer">
                    <img src="{{ asset('assets/mathilde/wordpress.png') }}" class="mini pb-1" alt="Wordpress">
                    <img src="{{ asset('assets/mathilde/github.png') }}" class="mini pb-1" alt="GitHub">
                    <img src="{{ asset('assets/mathilde/figma.png') }}" class="mini pb-1" alt="Figma">
                    <img src="{{ asset('assets/mathilde/trello.png') }}" class="mini pb-1" alt="Trello">
                    <img src="{{ asset('assets/mathilde/pix.png') }}" class="mini pb-1" alt="Pix">
                </div>
            </div>
        </section>
        <section class="pb-5 bg-img-2">
            <div class="flex-left pb-1 mt-3">
                <img src="{{ asset('assets/mathilde/round3.png')}}" class="mini" alt="">
                <h2 class="ml-30-negative">Formations</h2>
            </div>
            <div class="pl-20 p-5">
                <div class="border-left">
                    <div class="p-2">
                        <h4 class="pb-1">Depuis septembre 2022</h4>
                        <h3 class="small-caps pb-1">Titre professionnel Concepteur développeur d'application</h3>
                        <h4 class="pb-1">AFPA Mornac (16)</h4>
                    </div>
                    <div class="p-2">
                        <h4 class="pb-1">Septembre 2011 - Juillet 2014</h4>
                        <h3 class="small-caps pb-1">Licence de Philosophie</h3>
                        <h4 class="pb-1">Université de Poitiers (86)</h4>
                        <p>Capacités rédactionnelles<br></p>
                        <p>Synthétisation des informations<br></p>
                        <p>Anglais niveau B2<br></p>
                        <p>Membre actif de l'association de philosophie</p>
                    </div>
                    <div class="p-2">
                        <h4 class="pb-1">Septembre 2007 - Juillet 2011</h4>
                        <h3 class="small-caps pb-1">Baccalauréat général</h3>
                        <h4 class="pb-1">Lycée Jean-Monnet, Cognac (16)</h4>
                        <p>Baccalauréat économique et social,<br></p>
                        <p>option mathématiques</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="pb-5 bg-img-3">
            <div class="flex-left mt-3">
                <img src="{{ asset('assets/mathilde/round4.png')}}" class="mini" alt="">
                <h2 class="ml-30-negative">Expérience</h2>
            </div>
            <div class="pl-20 p-5">
                <div class="border-left">
                    <div class="p-2">
                        <h4 class="pb-1">Mai 2020 - Mars 2022</h4>
                        <h3 class="small-caps pb-1">Ouvrière agricole</h3>
                        <h4 class="pb-1">EARL des Courgeas - Val des Vignes (16)</h4>
                        <p>Tâches saisonnières dans les vignes,<br></p>
                        <p>conduite d'engins agricoles</p>
                    </div>
                    <div class="p-2">
                        <h4 class="pb-1">Juin 2013 - Mars 2020</h4>
                        <h3 class="small-caps pb-1">Ouvrière agricole</h3>
                        <h4 class="pb-1">SARL Boisson - Salles d'Angles (16)</h4>
                        <p>Différents contrats saisonniers<br></p>
                        <p>Travaux dans les vignes, vinification, distillation</p>
                    </div>
                    <div class="p-2">
                        <h4 class="pb-1">Mai 2018 - Août 2018</h4>
                        <h3 class="small-caps pb-1">Employée polyvalente de nuit</h3>
                        <h4 class="pb-1">Hôtel Première classe - Poitiers (86)</h4>
                        <p>Accueil des clients<br></p>
                        <p>Gestion des réservations<br></p>
                        <p>Préparation des buffets<br></p>
                        <p>Encaissement<br></p>
                    </div>
                    <div class="p-2">
                        <h4 class="pb-1">Septembre 2012 - Avril 2013</h4>
                        <h3 class="small-caps pb-1">Agent périscolaire</h3>
                        <h4 class="pb-1">Mairie - Poitiers (86)</h4>
                        <p>Animation du restaurant scolaire<br></p>
                        <p>Surveillance des récréations</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="pb-5 bg-img-4">
            <div class="flex-left pb-5">
                <img src="{{ asset('assets/mathilde/round5.png')}}" class="mini" alt="">
                <h2 class="ml-30-negative">Loisirs</h2>
            </div>
            <div class="px-5 pt-5 flex-between">
                <div class="text-center">
                    <img src="{{ asset('assets/mathilde/meter-tool.png')}}" class="mini" alt="">
                    <p class="text-center">Bricolage</p>
                </div>
                <div class="text-center">
                    <img src="{{ asset('assets/mathilde/yarn-ball.png')}}" class="mini" alt="">
                    <p class="text-center">Arts créatifs</p>
                </div>
                <div class="text-center">
                    <img src="{{ asset('assets/mathilde/cinema.png')}}" class="mini" alt="">
                    <p class="text-center">Cinéma</p>
                </div>
                <div class="text-center">
                    <img src="{{ asset('assets/mathilde/livre-ouvert.png')}}" class="mini" alt="">
                    <p class="text-center">Jeux</p>
                </div>
                <div class="text-center">
                    <img src="{{ asset('assets/mathilde/puzzle.png')}}" class="mini" alt="">
                    <p class="text-center">Lecture</p>
                </div>
            </div>
        </section>
        <section class="pb-5 bg-img-5">
            <div class="flex-left mt-3">
                <img src="{{ asset('assets/mathilde/round01.png')}}" class="mini" alt="">
                <h2 class="ml-30-negative">Contact</h2>
            </div>
            <div class="flex-center pb-1">
                <form class="p-5" id="contact_form" action="#" method="POST" enctype="multipart/form-data">
                    <div class="row pb-1">
                        <input class="input" id="name" class="input" name="name" type="text" value="" size="40" placeholder="Votre nom" />
                    </div>
                    <div class="row pb-1">
                        <input id="email" class="input" name="email" type="text" value="" size="40" placeholder="Votre e-mail"/>
                    </div>
                    <div class="row pb-1">
                        <textarea id="message" class="input" name="message" rows="10" cols="40" placeholder="Votre message"></textarea>
                    </div>
                    <div class="text-right pb-1">
                        <button class="button" type="submit">Envoyer</button>
                    </div>
                </form> 
            </div>     
        </section>
    </main>
    <footer class="bg-blue">
        <p class="text-white text-center">Mathilde Pierre dit Blanchet | Mars 2023</p>
    </footer>
</body>
</html>