{% extends 'base.html.twig' %}

{% block title %}Apprenant index{% endblock %}

{% block body %}
    <h1>Apprenant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identifiant</th>
                <th>Prenom</th>
                <th>Nom</th>
                <th>DateNaissance</th>
                <th>Sexe</th>
                <th>Adresse</th>
                <th>CodePostal</th>
                <th>Ville</th>
                <th>Region</th>
                <th>Pays</th>
                <th>Telephone</th>
                <th>Email</th>
                <th>NumSecu</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for apprenant in apprenants %}
            <tr>
                <td>{{ apprenant.id }}</td>
                <td>{{ apprenant.identifiant }}</td>
                <td>{{ apprenant.prenom }}</td>
                <td>{{ apprenant.nom }}</td>
                <td>{{ apprenant.dateNaissance ? apprenant.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ apprenant.sexe }}</td>
                <td>{{ apprenant.adresse }}</td>
                <td>{{ apprenant.codePostal }}</td>
                <td>{{ apprenant.ville }}</td>
                <td>{{ apprenant.region }}</td>
                <td>{{ apprenant.pays }}</td>
                <td>{{ apprenant.telephone }}</td>
                <td>{{ apprenant.email }}</td>
                <td>{{ apprenant.numSecu }}</td>
                <td>
                    <a href="{{ path('app_apprenant_show', {'id': apprenant.id}) }}">show</a>
                    <a href="{{ path('app_apprenant_edit', {'id': apprenant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="15">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_apprenant_new') }}">Create new</a>
{% endblock %}
