{% extends 'base.html.twig' %}

{% block title %}Apprenant{% endblock %}

{% block body %}
    <h1>Apprenant</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ apprenant.id }}</td>
            </tr>
            <tr>
                <th>Identifiant</th>
                <td>{{ apprenant.identifiant }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ apprenant.prenom }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ apprenant.nom }}</td>
            </tr>
            <tr>
                <th>DateNaissance</th>
                <td>{{ apprenant.dateNaissance ? apprenant.dateNaissance|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Sexe</th>
                <td>{{ apprenant.sexe }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ apprenant.adresse }}</td>
            </tr>
            <tr>
                <th>CodePostal</th>
                <td>{{ apprenant.codePostal }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ apprenant.ville }}</td>
            </tr>
            <tr>
                <th>Region</th>
                <td>{{ apprenant.region }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ apprenant.pays }}</td>
            </tr>
            <tr>
                <th>Telephone</th>
                <td>{{ apprenant.telephone }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ apprenant.email }}</td>
            </tr>
            <tr>
                <th>NumSecu</th>
                <td>{{ apprenant.numSecu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_apprenant_index') }}">back to list</a>

    <a href="{{ path('app_apprenant_edit', {'id': apprenant.id}) }}">edit</a>

    {{ include('apprenant/_delete_form.html.twig') }}
{% endblock %}
