{% block stylesheets %}
<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{asset('css/portfolio-stephanie/style-stephanie.css')}}" />

{% endblock %}
    {% block title %}
    <title>Portfolio Stéphanie LACAZE</title>
 {% endblock %}
  
  {% block body %}
    <div class="global">
        <header id="enTete">
            <nav class="navbar">
                <ul class="menu">
                    <input type="checkbox" id="checkbox-toggle"/>
                    <label class="hamburger" for="checkbox-toggle">&#9776</label>
                    <div class="menu-liste">
                        <li class="menu-item"><a class="menu-link" href="#accueil">Accueil</a></li>
                        <li class="menu-item"><a class="menu-link" href="#about">À propos</a></li>
                        <li class="menu-item"><a class="menu-link" href="#project">Les projets</a></li>
                        <li class="menu-item"><a class="menu-link" href="#contact">Contact</a></li>
                    </div>
                </ul>   
            </nav>
        </header>
        <section class="section01" id="accueil">
            <div class="container">
                <div class="content-section01">
                    <div class="photo"> 
                      <img class="portrait" src="{{asset('photo/photo_stephanie/portrait.jpg')}}" alt="portrait" />
                    </div>
                </div>
            </div>
        </section>  
        <section class="section02" >
            <div class="container">
               <div class="content-section02">
                    <div class="presentation">
                        <h1 class="rudeTitle">Bonjour !</h1>
                        <h2 class="welcome-message">Bienvenue sur le Portfolio de Stéphanie LACAZE</h2>
                        <div class="trait"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section03" id="about">
            <div class="container">
                <div class="content-section03">
                    <div class="about">
                        <h2 class="title-about"> À propos</h2>
                    </div>
                    <div class="summary">
                    <p class="paragraph"> 
                        C'est en regardant un reportage sur le métier de développeur web que j'ai décidé de débuter ma reconversion professionnelle.
                        <br/>
                        Après une formation en autodidacte sur le HTML et CSS, 
                        j'ai obtenu, en 2021, le titre professionnel de Développeuse Web et Web Mobile.
                        <br/>
                        Désireuse d'en apprendre plus mais aussi pour renforcer mes compétences, j'ai entrepris une autre formation en Conception et Développement d'application au sein du centre de l'AFPA d'Angoulême. 
                        <br/>
                        Ces deux formations m'ont permise d'apprendre différents langagues de programmations en passant des CMS (wordpress, Prestashop) aux frameworks comme Symfony 6, ReactJS à l'étude des base de données avec PostgreSQL, MySQL. 
                        <br/> 
                        {% block stylesheets %}
<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{asset('css/portfolio-stephanie/style-stephanie.css')}}" />

{% endblock %}
    {% block title %}
    <title>Portfolio Stéphanie LACAZE</title>
 {% endblock %}
  
  {% block body %}
    <div class="global">
        <header id="enTete">
            <nav class="navbar">
                <ul class="menu">
                    <input type="checkbox" id="checkbox-toggle"/>
                    <label class="hamburger" for="checkbox-toggle">&#9776</label>
                    <div class="menu-liste">
                        <li class="menu-item"><a class="menu-link" href="#accueil">Accueil</a></li>
                        <li class="menu-item"><a class="menu-link" href="#about">À propos</a></li>
                        <li class="menu-item"><a class="menu-link" href="#project">Les projets</a></li>
                        <li class="menu-item"><a class="menu-link" href="#contact">Contact</a></li>
                    </div>
                </ul>   
            </nav>
        </header>
        <section class="section01" id="accueil">
            <div class="container">
                <div class="content-section01">
                    <div class="photo"> 
                      <img class="portrait" src="{{asset('photo/photo_stephanie/portrait.jpg')}}" alt="portrait" />
                    </div>
                </div>
            </div>
        </section>  
        <section class="section02" >
            <div class="container">
               <div class="content-section02">
                    <div class="presentation">
                        <h1 class="rudeTitle">Bonjour !</h1>
                        <h2 class="welcome-message">Bienvenue sur le Portfolio de Stéphanie LACAZE</h2>
                        <div class="trait"></div>
                    </div>
                </div>
            </div>
        </section>
        <section class="section03" id="about">
            <div class="container">
                <div class="content-section03">
                    <div class="about">
                        <h2 class="title-about"> À propos</h2>
                    </div>
                    <div class="summary">
                    <p class="paragraph"> 
                        C'est en regardant un reportage sur le métier de développeur web que j'ai décidé de débuter ma reconversion professionnelle.
                        <br/>
                        Après une formation en autodidacte sur le HTML et CSS, 
                        j'ai obtenu, en 2021, le titre professionnel de Développeuse Web et Web Mobile.
                        <br/>
                        Désireuse d'en apprendre plus mais aussi pour renforcer mes compétences, j'ai entrepris une autre formation en Conception et Développement d'application au sein du centre de l'AFPA d'Angoulême. 
                        <br/>
                        Ces deux formations m'ont permise d'apprendre différents langagues de programmations en passant des CMS (wordpress, Prestashop) aux frameworks comme Symfony 6, ReactJS à l'étude des base de données avec PostgreSQL, MySQL. 
                        <br/> 
                        Pour valider ma formation, je dois effectuer un stage non rémunéré de 12 semaines ( du 02 Mai au 21 Juillet 2023). Réaliser mon immersion dans votre entreprise sera une opportunité d'en apprendre plus sur le métier, d'acquérir d'autres compétences et de mette en oeuvre mes connaissances. 
                        <span class="linkCV">Vous pouvez voir mon CV <a class="cv" href="{{asset('document/document_stephanie/LACAZE-Stephanie-CV.pdf')}}"/>en cliquant ici</a><span>
                    </p>
                    </div> 
                </div>
                <div class="trait-section03"></div>
            </div>
        </section>
        <section class="section04" id="project">
            <div class="container">
                <div class="content-section04">
                    <div class="project">
                        <h2 class="title-project">Les projets</h2>
                    </div>
                    <div class="group-card"> 
                        <div class="group1">
                            <div class="card">
                                <div class="title-card">
                                    <h3>Projet apprenant</h3>
                                </div>
                                <div class="card-image">
                                       <img src="{{asset('photo/photo_stephanie/projet_apprenant.png')}}" alt=""> 
                                </div>
                                <div class="text">
                                    <p>création d'un site de centre de formation</p>
                                    <br/>
                                    <p><span class="tool">framework utilisé :</span> Symfony 6</p>
                                    <p class="date">réalisé en groupe : février/mars 2023</p>
                                    <div class="card-web">
                                        <a  href="http://www.groupe1.stage-cda.fr">www.groupe1.stage-cda.fr</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="title-card">
                                    <h3>Un temps hors du temps</h3>
                                </div>
                                <div class="card-image">
                                       <img src="{{asset('photo/photo_stephanie/untempshorsdutemps.png')}}" alt="image d'une bulle">
                                </div>
                                <div class="text">
                                    <p>Création d'un site de mediumnité, soins énergétiques et géobiologie</p>
                                    <br/>
                                    <p><span class="tool">framework utilisé : </span>Symfony 5 </p>
                                    <p class="date">réalisé seule : avril-mai 2021</p>
                                
                                </div>
                            </div>
                        </div>
                        <div class="group2">
                            <div class="card">
                                <div class="title-card">
                                    <h3>Ecole de surf du pin sec</h3>
                                </div>
                                <div class="card-image">
                                       <img src="{{asset('photo/photo_stephanie/ecole-surf-pin-sec.png')}}" alt="homme sur une planche de surf au coucher de soleil"> 
                                </div>
                                <div class="text">
                                    <p>Refonte du site de l'école de surf pin sec </p>
                                    <br/>
                                    <p><span class="tool">CMS utilisé :</span>Wordpress</p>
                                    <p class="date">réalisé en formation : février/mars 2021</p>
                                    <div class="card-web">
                                        <a  href="https://www.ecoledesurfdupinsec.com">www.ecoledesurfdupinsec.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="title-card">
                                    <h3>Naturquest</h3>
                                </div>
                                <div class="card-image">
                                       <img src="{{asset('photo/photo_stephanie/naturquest.png')}}" alt="image d'une forêt">
                                </div>
                                <div class="text">
                                    <p>Création d'une application mobile pour le site NaturSchool</p>
                                    <br/>
                                    <p><span class="tool">framework utilisé : </span>Symfony 5 pour le back-end et Réact Native pour le front-end</p>
                                    <p class="date">réalisé  en groupe : janvier 2021</p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="trait-section04"></div>
                </div>
            </div>
        </section>
        <section class="section05" id="contact">
            <div class="container">
                <div class="content-section05">
                    <div class="contact">
                        <h2 class="title-contact">Contactez-moi</h2>
                    </div>
                    <div class="form">
                        <form action="" method="" class="form-menu">
                            <div class="form-item">
                                <label class="form-label" for="name">Nom : </label>
                                <input type="text"name="name" id="name">
                            </div>
                            <div class="form-item">
                                <label class="form-label" for="firstname">Prénom :</label>
                                <input type="text" name="firstname" id="firstname" >
                            </div>
                            <div class="form-item">
                                <label class="form-label" for="message">Message :</label>
                               <textarea name="message" id="message" cols="60" rows="10" ></textarea>
                            </div>
                            <div class="btn">
                                <input type="submit" value="Envoyer">
                            </div>
                        </form>      
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="traitSeparation"></div>
            <div class="footer"> 
                <div class="adress">
                    <p>Mlle LACAZE Stéphanie</p>
                    <p>Résidence Gaïa Appt B02</p>
                    <p>18, rue Louise Michel</p>
                    <p>33600 PESSAC</p>
                </div>
                <div class="copyright">
                    ©StéphanieLACAZE-2023
                </div>
                <div class="phone">
                    <p>&#9742: 06 75 23 50 87</p>
                </div>
        </div>
        </footer>
    </div>
  
{% endblock %}
                        <span class="linkCV">Vous pouvez voir mon CV <a class="cv" href="{{asset('document/document_stephanie/LACAZE-Stephanie-CV.pdf')}}"/>en cliquant ici</a><span>
                    </p>
                    </div> 
                </div>
                <div class="trait-section03"></div>
            </div>
        </section>
        <section class="section04" id="project">
            <div class="container">
                <div class="content-section04">
                    <div class="project">
                        <h2 class="title-project">Les projets</h2>
                    </div>
                    <div class="group-card"> 
                        <div class="group1">
                            <div class="card">
                                <div class="title-card">
                                    <h3>Projet apprenant</h3>
                                </div>
                                <div class="card-image">
                                       <img src="{{asset('photo/photo_stephanie/projet_apprenant.png')}}" alt=""> 
                                </div>
                                <div class="text">
                                    <p>création d'un site de centre de formation</p>
                                    <br/>
                                    <p><span class="tool">framework utilisé :</span> Symfony 6</p>
                                    <p class="date">réalisé en groupe : février/mars 2023</p>
                                    <div class="card-web">
                                        <a  href="http://www.groupe1.stage-cda.fr">www.groupe1.stage-cda.fr</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="title-card">
                                    <h3>Un temps hors du temps</h3>
                                </div>
                                <div class="card-image">
                                       <img src="{{asset('photo/photo_stephanie/untempshorsdutemps.png')}}" alt="image d'une bulle">
                                </div>
                                <div class="text">
                                    <p>Création d'un site de mediumnité, soins énergétiques et géobiologie</p>
                                    <br/>
                                    <p><span class="tool">framework utilisé : </span>Symfony 5 </p>
                                    <p class="date">réalisé seule : avril-mai 2021</p>
                                
                                </div>
                            </div>
                        </div>
                        <div class="group2">
                            <div class="card">
                                <div class="title-card">
                                    <h3>Ecole de surf du pin sec</h3>
                                </div>
                                <div class="card-image">
                                       <img src="{{asset('photo/photo_stephanie/ecole-surf-pin-sec.png')}}" alt="homme sur une planche de surf au coucher de soleil"> 
                                </div>
                                <div class="text">
                                    <p>Refonte du site de l'école de surf pin sec </p>
                                    <br/>
                                    <p><span class="tool">CMS utilisé :</span>Wordpress</p>
                                    <p class="date">réalisé en formation : février/mars 2021</p>
                                    <div class="card-web">
                                        <a  href="https://www.ecoledesurfdupinsec.com">www.ecoledesurfdupinsec.com</a>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="title-card">
                                    <h3>Naturquest</h3>
                                </div>
                                <div class="card-image">
                                       <img src="{{asset('photo/photo_stephanie/naturquest.png')}}" alt="image d'une forêt">
                                </div>
                                <div class="text">
                                    <p>Création d'une application mobile pour le site NaturSchool</p>
                                    <br/>
                                    <p><span class="tool">framework utilisé : </span>Symfony 5 pour le back-end et Réact Native pour le front-end</p>
                                    <p class="date">réalisé  en groupe : janvier 2021</p>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="trait-section04"></div>
                </div>
            </div>
        </section>
        <section class="section05" id="contact">
            <div class="container">
                <div class="content-section05">
                    <div class="contact">
                        <h2 class="title-contact">Contactez-moi</h2>
                    </div>
                    <div class="form">
                        <form action="" method="" class="form-menu">
                            <div class="form-item">
                                <label class="form-label" for="name">Nom : </label>
                                <input type="text"name="name" id="name">
                            </div>
                            <div class="form-item">
                                <label class="form-label" for="firstname">Prénom :</label>
                                <input type="text" name="firstname" id="firstname" >
                            </div>
                            <div class="form-item">
                                <label class="form-label" for="message">Message :</label>
                               <textarea name="message" id="message" cols="60" rows="10" ></textarea>
                            </div>
                            <div class="btn">
                                <input type="submit" value="Envoyer">
                            </div>
                        </form>      
                    </div>
                </div>
            </div>
        </section>
        <footer>
            <div class="traitSeparation"></div>
            <div class="footer"> 
                <div class="adress">
                    <p>Mlle LACAZE Stéphanie</p>
                    <p>Résidence Gaïa Appt B02</p>
                    <p>18, rue Louise Michel</p>
                    <p>33600 PESSAC</p>
                </div>
                <div class="copyright">
                    ©StéphanieLACAZE-2023
                </div>
                <div class="phone">
                    <p>&#9742: 06 75 23 50 87</p>
                </div>
        </div>
        </footer>
    </div>
  
{% endblock %}