{{ form_start(form) }}

    <div class="m-auto w-50 border border-1 border-color shadow bg-clear py-3 px-5">
        <div class="row g-2">
            {{ form_label(form.code_role,'Code :',{'label_attr':{'class':'mt-4'}}) }}
            {{ form_widget(form.code_role,{'attr':{'class':'form-control'}} )}}
        </div>
        <div class="row g-2">
            {{ form_label(form.libelle,'Libellé :',{'label_attr':{'class':'mt-4'}}) }}
            {{ form_widget(form.libelle,{'attr':{'class':'form-control'}} )}}
        </div>
        <div class="d-flex align-items-center justify-content-end m-5">
            <button class="btn bg-green text-clear">
                {{ button_label|default('Valider') }}
            </button>
        </div>
    </div>

{{ form_end(form) }}
