{% extends 'base.html.twig' %}

{% block title %}Administrateur/liste des Rôles{% endblock %}

{% block body %}

{# titre #}
<div class="container p-5 my-5 bg-blueclear">
  <h1 class="pt-2 pb-5 text-clear">Liste des rôles</h1>
</div>

{# boutons #}
<div class="container d-flex justify-content-between py-5 d-print-none">
  <button class="btn bg-blue">
    <a class="text-clear" href="{{ path('app_role_new') }}">Nouveau rôle</a>
  </button>
 <button class="btn bg-green">
    <a class="btn bg-green text-clear" type="button" onclick="print_page()">Imprimer</a>
 </button>
</div>

{# table #}
<div class="d-flex justify-content-center mb-5">
  <table class="table table responsive w-75">
    <thead class="bg-blue text-clear">
      <tr>
        <th>Id</th>
        <th>Rang</th>
        <th>Libelle</th>
        <th class="text-center d-print-none">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for role in roles %}
      <tr>
        <td>{{ role.id }}</td>
        <td>{{ role.codeRole }}</td>
        <td>{{ role.libelle }}</td>
        <td class="d-flex justify-content-center d-print-none">
          <button class="btn bg-blue mx-3"><a class="text-clear" href="{{ path('app_role_edit', {'id': role.id}) }}">Modifier</a></button>
         {{ include('role/_delete_form.html.twig') }}
        </td>
      </tr>
      {% else %}
      <tr>
        <td colspan="9">Aucune donnée trouvée</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
