{% extends 'base.html.twig' %}

{% block title %}Administrateur/rôle{% endblock %}

{% block body %}
    <h1>Liste des Rôles</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ role.id }}</td>
            </tr>
            <tr>
                <th>Libelle</th>
                <td>{{ role.libelle }}</td>
            </tr>
            <tr>
                <th>Code_role</th>
                <td>{{ role.codeRole }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_role_index') }}">Revenir à la liste</a>

    <a href="{{ path('app_role_edit', {'id': role.id}) }}">Modifier</a>

    {{ include('role/_delete_form.html.twig') }}
{% endblock %}
