<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{% block title %}Projet Apprenant{% endblock %}</title>
		<link rel="stylesheet" href="{{asset('bootstrap-5.0.2-dist/css/bootstrap.css')}}">
		<link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		<link rel="stylesheet" href="{{asset('bootstrap-5.0.2-dist/css/datepicker.css')}}">
		<link rel="stylesheet" href="{{asset('css/style_m.css')}}">
		<link rel="stylesheet" href="{{asset('css/espacePersonnel.css')}}">
		<link rel="stylesheet" href="{{ asset('easyui/themes/default/easyui.css') }}">
		<link rel="stylesheet" href="{{ asset('easyui/themes/mobile.css') }}">
		<script src="{{asset('js/jquery.js')}}"></script>
		<script src="{{ asset('easyui/jquery.min.js') }}"></script>
		<script src="{{ asset('easyui/jquery.easyui.min.js') }}"></script>
		<script src="{{ asset('easyui/jquery.esayui.mobile.js') }}"></script>
		<script src="{{ asset('easyui/datagrid-filter/datagrid-filter.js') }}"></script>
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="container-fluid">
		{% include "_partials/_header.html.twig" %}
			{% block body %}{% endblock %}
		{% include "_partials/_footer.html.twig" %}
		</div>
		<script src="{{asset('bootstrap-5.0.2-dist/js/bootstrap.bundle.js')}}"></script>
		<script src="{{asset('bootstrap-5.0.2-dist/js/bootstrap-datepicker.js')}}"></script>
		<script src="{{asset('easyui/jquery.easyui.min.js')}}"></script>
    	<script src="{{asset('easyui/jquery.easyui.mobile.js')}}"></script>
    	<script src="{{asset('easyui/datagrid-filter.js')}}"></script>
    	<script src="{{asset('easyui/locale/easyui-lang-fr.js')}}"></script>
		<script src="{{asset('js/scripts.js')}}"></script>
		<script src ="{{asset('js/popup.js')}}"></script>
		{% block javascript %}{% endblock %}
		<script>
			$(function () {
				$('.datepicker').datepicker({ // affichage du calendrier
					format: 'dd/mm/yyyy',
					autoclose: true,
					clearBtn: true,
					todayHighlight: true
				});
			})

			const myCarouselElement = document.querySelector('#carouselHome')

			const carousel = new bootstrap.Carousel(myCarouselElement, {
				interval: 4000,
				touch: true
			})
		</script>
	</body>
</html>
