{% extends 'base.html.twig' %}

{% block title %}Liste des inscriptions{% endblock %}
{% block body %}
<div>
    <div class="container p-5 my-5 bg-blueclear">
        <h1>Liste des inscriptions</h1>
    </div>
    <div class='d-flex my-4 justify-content-between'>
        <a href="javascript:ajouterInscription()" class="btn btn-md btn-green">Ajouter</a>
        <a href="javascript:modifierInscription()" class="btn btn-md btn-blue">Modifier</a>
        <a href="javascript:supprimerInscription()" class="btn btn-md btn-red" >Supprimer</a>
        <a href="javascript:afficherInscription()" class="btn btn-md btn-blue">Afficher</a>
    </div>
    <table id="tableInscription" class="w-100"></table> 
</div>
<script>
var inscriptionApprenant=$('#tableInscription');
var url_datagrid_data="{{path('app_inscription_apprenant_datagrid_data')}}";
var url_inscription_edit="{{path('app_inscription_apprenant_edit',{'id':'inscription_apprenant_id'})}}";
var url_inscription_show="{{path('app_inscription_apprenant_show',{'id':'inscription_apprenant_id'})}}";
var url_inscription_new="{{path('app_inscription_apprenant_new')}}";
var url_inscription_delete="{{path('app_inscription_apprenant_delete',{'id':'inscription_apprenant_id'})}}";

$(function(){
    
     loadListInscription();
     
});

function loadListInscription()
{
    $("#tableInscription").datagrid({
        url:url_datagrid_data,
        idField:'id',
        singleSelect:true,
        pageSize:20,
        pageList:[20,30,50,100,300],
        pagination:true,
        fit:true,
        fitColumns:true,
        columns:[[
            {'field':'id','title':'ID','width':'10%','halign':'center','align':'center'},
            {'field':'identifiat','title':'Identifiant','width':'20%','halign':'center','align':'center'},
            {'field':'nom','title':'Nom','width':'20%','halign':'center','align':'center'},
            {'field':'prenom','title':'Prénom','width':'50%','halign':'center','align':'left'},
            {'field':'dateNaissance','title':'Date de naissance','width':'10%','halign':'center','align':'right'},
            {'field':'telephone','title':'Téléphone','width':'10%','halign':'center','align':'right'},
            {'field':'email','title':'email','width':'10%','halign':'center','align':'right'},
        ]],
        onDblClickRow:function(val,row){
            var id=row.id,
            afficherInscription();
        }
    });
    $("#tableInscription").datagrid('enableFilter');
}

function afficherInscription()
{
    var row= inscriptionApprenant.datagrid('getSelected');
    if(row){
        var id=row['id'];
        var url=url_inscription_show.replace('inscription_apprenant_id',id);
        popupCenter(url,'show'+id,screen.width*0.70,screen.height*0.60);
    }else{
        alert('Veuillez sélectionner une ligne');
    }
}

function ajouterInscriptino()
{
    popupCenter(url_inscription_new,'new',screen.width*0.70,screen.height*0.60);
}

function modifierInscription()
{
    var row=inscriptionApprenant.datagrid('getSelected');
    if(row)
    {
        var id=row['id'];
        var url=url_inscription_edit.replace('inscription_apprenant_id',id);
        popupCenter(url,'edit'+id,screen.width*0.70,screen.height*0.60);
    }else{
        alert('Veuillez sélectionner une ligne');
    }
}

function supprimerInscription()
{
    var row=inscriptionApprenant.datagrid('getSelected');
    if(row)
    {
        var id=row['id'];
        if(confirm('Voulez-vous vraiment cet inscription ?' ))
        {
            var url=url_inscription_delete.replace('inscription_apprenant_id',id);
            document.location.href=url;
        }else{
            alert('veuillez sélectionner une ligne');
        }
    }
}
   
</script>
{% endblock %}