{% extends 'base.html.twig' %}

{% block title %}Cursus index{% endblock %}

{% block body %}
    <h1>Cursus index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>CodeCursus</th>
                <th>LibelleCursus</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cursu in cursuses %}
            <tr>
                <td>{{ cursu.id }}</td>
                <td>{{ cursu.codeCursus }}</td>
                <td>{{ cursu.libelleCursus }}</td>
                <td>
                    <a href="{{ path('app_cursus_show', {'id': cursu.id}) }}">show</a>
                    <a href="{{ path('app_cursus_edit', {'id': cursu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cursus_new') }}">Create new</a>
{% endblock %}
