{{ form_start(form) }}
    <div>
        {{form_label(form.identifiant,'Identifiant : ',{'label_attr':{'class':''}})}}
        {{ form_widget(form.identifiant,{'attr':{'class':'form-control w-20 mt-2'}})}}
   </div>
   <div>
        {{form_label(form.nom,'Nom : ',{'label_attr':{'class':''}})}}
        {{ form_widget(form.nom,{'attr':{'class':'form-control w-20 mt-2'}})}}
   </div>
   <div>
        {{form_label(form.prenom,'Prénom  ',{'label_attr':{'class':''}})}}
        {{ form_widget(form.prenom,{'attr':{'class':'form-control w-20 mt-2'}})}}
   </div>
   <div>
        {{form_label(form.roles,'Roles ',{'label_attr':{'class':''}})}}
        {{ form_widget(form.roles,{'attr':{'class':'form-control w-20 mt-2'}})}}
   </div>
   <div>
        {{form_label(form.email,'Roles ',{'label_attr':{'class':''}})}}
        {{ form_widget(form.email,{'attr':{'class':'form-control w-20 mt-2'}})}}
   </div>
   <div>
        {{form_label(form.password,'Roles ',{'label_attr':{'class':''}})}}
        {{ form_widget(form.password,{'attr':{'class':'form-control w-20 mt-2'}})}}
   </div>
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
