{% extends 'base.html.twig' %}

{% block title %}Administrateur/ liste des Utilisateurs{% endblock %}

{% block body %}
    <div class="bg-blueclear my-5 p-5">
        <h1>Liste des utilisateurs</h1>
    </div>
    <div class="my-5">
        <table class="table table-responsive">
            <thead>
                <tr class="text-center bg-blue text-light">
                    <th>Id</th>
                    <th>Email</th>
                    <th>Roles</th>
                    <th>Password</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Identifiant</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for user in users %}
                <tr>
                    <td class="text-center">{{ user.id }}</td>
                    <td class="text-center">{{ user.nom }}</td>
                    <td class="text-center">{{ user.prenom }}</td>
                    <td class="text-center">{{ user.identifiant }}</td>
                    {# <td>{{ user.roles ? user.roles|json_encode : '' }}</td> #}
                    <td class="text-center">
                        <select name="" id=""class="form-select w-100">
                        {% for role in user.roles %}
                            <option value="">{{ role }}</option>
                        {% endfor %}
                    </td>
                    <td class="text-center">{{ user.email }}</td>
                    <td class="text-center">{{ user.password }}</td>

                    <td>
                        <a class="btn btn-md btn-green me-5 "href="{{ path('app_user_show', {'id': user.id}) }}">Afficher</a>
                        <a class=" btn btn-md btn-blue" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">aucun enregistrement</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="my-5">
        <a  class="btn btn-md btn-blue ms-5" href="{{ path('app_user_new') }}">Créer un nouvel utilisateur</a>
    </div>
{% endblock %}
