{% extends 'base.html.twig' %}

{% block title %}Administrateur/ Utilisateur{% endblock %}

{% block body %}

{# titre #}
<div class="container p-5 mt-5 bg-blueclear">
  <h1 class="pt-2 pb-5 text-clear">Utilisateur</h1>
</div>

{# Bouton retour #}
<div class="container p-5 d-md-flex justify-content-md-start d-print-none">
  <button class="btn bg-blue align-start">
    <a class="text-clear" href="javascript:history.back()">Retour</a>
  </button>
</div>

{# Carte #}
<div class="container p-5 mb-5">
    <div class="bg-clear shadow p-4">
        <div class="card-body px-5">
            <p><b>Id : </b> {{ user.id }}</p>
            <p><b>Nom : </b> {{ user.nom }}</p>
            <p><b>Prénom : </b> {{ user.prenom }}</p>
            <p><b>E-mail : </b> {{ user.email }}</p>
            <p><b>Rôle : </b> {{ user.roles ? user.roles|json_encode : '' }}</p>
            <p><b>Mot de passe : </b>******</p>
        </div>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end m-2 d-print-none">
            <button class="btn bg-green">
                <a class="btn bg-green text-clear" type="button" onclick="print_page()">Imprimer</a>
            </button>
            <button class="btn btn-md bg-blue p-2 px-4 mx-5" type="button">
                <a class="text-clear" href="{{ path('app_user_edit', {'id': user.id}) }}">Modifier</a>
            </button>
            {{ include("user/_delete_form.html.twig") }}
        </div>
    </div>
</div>

{% endblock %}
